body {
    font-family: Arial, sans-serif;
}

h1 {
    color: brown;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid brown;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: brown;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

form {
    cursor: pointer;

    }